body{
    margin: 5% auto;
    width: 60%;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: 'Oxygen', sans-serif;
    background-color: #f8f9fa;
    color: rgb(87, 87, 87);
}
body .khusus a{
    color: white;
    text-decoration: none;
}
.poo a{
    color: white;
}

body.darkmode .section .heading:before{
    background: white;
}

body.darkmode .khusus a{
    background-color: #fff;
    color: #343a40;
     border-radius: 13px; 
     text-decoration: none; 
     color: inherit; line-height: 1; 
    -webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out; 

}

@font-face {
        font-family: tulisan;
        src: url(../font/Oxygen-Regular.ttf);
}

body.darkmode {
    background: rgb(57, 57, 57);
    color: rgb(227, 227, 227);
}

body.darkmode a{
    color: rgb(227, 227, 227);
}

.is-hidden{
    display: none;
}

a{
    color: rgb(87, 87, 87);
}


header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
}

#theme { 
    font-size: 25px;

}

#theme:hover {
    cursor: pointer;
}

.landing{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.links p{
    margin-top: 0px;
}

.is-avatar{
    border-radius: 50%;
    margin-left: 100px;
}

h3{
    margin-bottom: 5px;
}

.columns{
    display: flex;
}

blockquote {
    border-left: 1px solid gray; padding-left: 5px; font-style: italic;
}


@media only screen and (max-width: 760px) {
    body {
        width: 90%;
    }

    .landing{
        display: block;
        font-size: 0.9rem;
    }

    .columns{
        display: block;
    }
}
.p-footer{
    text-align: center;
    color: grey;
    font-size: 15px;
}